.header {
  padding: 15px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.container {
  width: 375px;
  max-width: 100%;
  margin: 0 auto;
}

.headerList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftHeader {
  display: flex;
  gap: 35px;
  align-items: center;
}

.btnOpenMenu {
  background-color: transparent;
}

.iconHeader {
  width: 25px;
  height: 25px;
}

.rigthHeader {
  display: flex;
  gap: 30px;
}

.headerBtn {
  background-color: transparent;
}

.inputBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 7px;
}
@media screen and (max-width: 1440px) {
  .inputBox {
    display: none;
  }
}

.btnSeatch {
  background-color: transparent;
}

.iconSearch:hover {
  fill: gray;
}

.inputSearch {
  border: none;
}

.borderBottom {
  border-bottom: 1px solid #d9d9d9;
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1340px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  .btnOpenMenu {
    display: none;
  }
}
@media screen and (max-width: 1440px) {
  .iconInstagram {
    display: none;
  }
  .listMenuDesk {
    display: none;
  }
}

.menuBox {
  position: relative;
  width: 320px;
  height: 100%;
  padding: 15px 15px;
  background-color: rgb(232, 232, 232);
}

.modalTopMenuHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.iconClose {
  background-color: transparent;
}
