@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* @import "modern-normalize/modern-normalize.css"; */

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  font-family: "Montserrat", sans-serif;
  --white: #ffffff;
  --light-gray: #f0eff4;
  --green-btn: #9be1a0;
  --green-btn-hover: #87d28d;
  --dark-grey-medium: rgb(50, 63, 71);
  --dark-grey-light: rgba(50, 63, 71, 0.2);
  --dark-grey-medium-gray: rgba(50, 63, 71, 0.4);
  --dark-grey-hard: #2f2f2f;
}

/* @font-face {
  font-family: "GMontserrat";
  src: url("./fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("./fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
  font-display: swap;
} */

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  background-color: var(--white);
}

@media screen and (min-width: 1440px) {
  body {
    height: 100vh;
  }
}

textarea {
  font-family: inherit;
}

input {
  padding: 0;
  margin: 0;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.noScroll {
  overflow: hidden;
}
